* {
  font-family: cursive;
  font-size: 20px;
  box-sizing: border-box;
  scroll-behavior: smooth;
  padding: 0;
  
}
body{
  background-color: #4fc08d;
}
.box-container {
    margin: 0 auto;
    width: 60%;
    display: flex;
    flex-direction: column;
    border-radius: 1em;
    background: #fff;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(25,25,25,.25);
  
}
#add-todo {
  display: flex;
  margin-top: 30PX;
}
button, #sub-btn {
    
    font-size: 14px;
    margin: 0 .5em;
    border-radius: 2em;
    padding: 0.75em 1.5em;
    cursor: pointer;
    background: none;
    color: darken(#4fc08d, 20%);
    border: 1px solid;
    letter-spacing: 1px;
    color: #4fc08d;
    border: #4fc08d 1px solid;
    outline: none;
    
}
button { 
    margin-left: 30px; 
}
#sub-btn:hover{
    color: #fff;
    background: #4fc08d;
  
}
button:focus {
    color: #fff;
    background: #4fc08d;
}
button:hover {
    color: #fff;
    background: #4fc08d;
  cursor: pointer;

}

#input-value{
    width: 100%;
    font-size: 14px;
    margin: 0 .5em;
    border-radius: 2em;
    padding: 0.75em 1.5em;
    background: none;
    font-family: cursive, sans-serif;
    border: #e3e3e3 1px solid;
    outline: none;
}
#input-value:focus {
    border: #4fc08d 1px solid;
    outline: none;
}
.todo{
  height: 100%;
  width: 100%;
  margin-right: 5px;
}
.done {
  text-decoration: line-through;
  color: #4fc08d;
  list-style: none;
  text-decoration: line-through;
}
li{
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px;
}
